/* Styling Transisi Pintu Loading Screen */
.gate-top {
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.gate-bottom {
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Animasi Slide-Up Manual Tanpa AOS */
.fade-up-element {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

/* Class saat elemen muncul di layar */
.fade-up-element.show {
  opacity: 1;
  transform: translateY(0);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0d0b18;
}
::-webkit-scrollbar-thumb {
  background: #ff66c4;
  border-radius: 10px;
}

/* Style Modal (Popup) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    background: #111827;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #ef4444;
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    color: white;
    text-align: center;
}
.close { color: #aaa; float: right; font-size: 28px; cursor: pointer; }
